*{
    margin: 0px 0px;
}

body{
    width: 100%;
    height: 100%;
    background:  url('img/backround.jpg');
    background-repeat: no-repeat;
    background-size: auto auto, cover;
}


.weatherBlock{
    margin: 110px 550px;
    width: 370px;
    padding: 10px 10px 10px 10px ;
    background-color: rgba(73, 143, 145, 0.95);
    border: 4px solid black;
    border-radius: 2%;
    box-shadow: 2px 2px 9px black;
}

.locationBlock{
    margin: 0px 0px 10px 0px;
}

.infoBlock .icon{
    box-shadow: 1px 1px 10px black ;
    height: 64px;
    width: 64px;
    margin: auto 0px auto 0px;
    overflow: hidden;
}

.infoBlock .current_temperature{
    margin: auto 0px auto 30px;

}

.infoBlock .current_temperature h2{
    font-size: 36px;
}

.infoBlock .info{
    margin: auto 0px auto 30px;
    color: rgba(0, 0, 0, 0.7);
}

.add-info{
    margin: 20px 0px auto 0px;
    color: rgba(0, 0, 0, 0.7);
}

.item{
    margin: 0px auto;
}

.weatherBlock .infoBlock{
    display: flex;
}